/* css/reset.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input, select {
  font-family: inherit;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
